<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="myPersonService" class="edu.ustc.SpringStart.service.MyPersonService"/>
    <bean id="personService" class="edu.ustc.SpringStart.service.PersonService"/>

    <aop:config>
        <aop:pointcut id="pointcut1" expression="execution(* edu.ustc.SpringStart.service.PersonService.call(..))"/>
        <aop:aspect ref="myPersonService">
            <aop:before method="beforeCall" pointcut-ref="pointcut1"/>
            <aop:around method="aroundCall" pointcut-ref="pointcut1"/>
        </aop:aspect>
    </aop:config>

</beans>