<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/th
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <!--    开启注解扫描-->
    <context:component-scan base-package="edu.ustc.SpringStart.person.service"/>

    <!-- 配置mybatis, 绑定c3p0-->
    <!--    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
    <!--        <property name="dataSource" ref="dataSource"/>-->
    <!--        <property name="configLocation" value="classpath:mybatis-config.xml"/>-->
    <!--        <property name="mapperLocations">-->
    <!--            <list>-->
    <!--                <value>classpath:mapper/*.xml</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--    </bean>-->

    <!-- 扫描生成所有dao层 -->
    <!--    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--        <property name="basePackage" value="edu.ustc.SpringStart.person.dao"/>-->
    <!--        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
    <!--    </bean>-->

    <!-- 配置c3p0 -->
    <!-- 连接池 -->
    <!--    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
    <!--        <property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
    <!--        <property name="jdbcUrl" value="jdbc:mysql://localhost/mybatis_start?characterEncoding=utf8&amp;serverTimezone=UTC"/>-->
    <!--        <property name="user" value="root"/>-->
    <!--        <property name="password" value="123456"/>-->
    <!--        <property name="minPoolSize" value="1"/>-->
    <!--        <property name="maxPoolSize" value="5"/>-->
    <!--        <property name="initialPoolSize" value="1"/>-->
    <!--        <property name="acquireIncrement" value="1"/>-->
    <!--    </bean>-->

    <!-- 配置事务管理器 -->
    <!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--        <property name="dataSource" ref="dataSource"/>-->
    <!--    </bean>-->

    <!-- 使用注解来控制事务 -->
    <!--    <tx:annotation-driven transaction-manager="transactionManager"/>-->

    <bean class="edu.ustc.SpringStart.person.dao.impl.PersonDaoImpl" id="personDao"></bean>


</beans>