<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该映射文件唯一标识-->
<mapper namespace="edu.ustc.SpringStart.person.mapper.PersonMapper">

    <resultMap id="personResult" type="person">
        <!-- 分为主键和非主键-->
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex" javaType="Boolean" jdbcType="INTEGER"/>
    </resultMap>

    <select id="queryPersonById" resultMap="personResult" parameterType="HashMap" statementType="CALLABLE">
        select *
        from person
        where id = #{id}
    </select>

    <select id="queryPersonByAge" resultMap="personResult" parameterType="HashMap" statementType="CALLABLE">
        {
            CALL queryPersonByIdWithProcedure(#{start_age,jdbcType=INTEGER,mode=IN},#{end_age,jdbcType=INTEGER,mode=IN},#{p_count,jdbcType=INTEGER,mode=OUT})
            }
    </select>


    <select id="queryPersonByName" resultMap="personResult" parameterType="string">
        select *
        from person
        where name like '%${name}%'
    </select>

    <select id="queryAll" resultMap="personResult">
        select *
        from person;
    </select>

    <insert id="addPerson" parameterType="person">
        insert into person(name, age, sex)
        values (#{name}, #{age}, #{sex,javaType=boolean,jdbcType=INTEGER})
    </insert>

    <update id="updatePersonById" parameterType="person">
        update person
        set name = #{name},
            age  = #{age},
            sex  = #{sex,javaType=boolean,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <insert id="deletePersonById" parameterType="int">
        delete
        FROM person
        where id = #{id}
    </insert>

</mapper>