<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该映射文件唯一标识-->
<mapper namespace="edu.ustc.SpringStart.person.mapper.PersonMapper">

    <resultMap id="personSex" type="student">
        <!-- 分为主键和非主键-->
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <select id="queryPersonById" resultType="person" parameterType="int">
        select *
        from person
        where id = #{id}
    </select>

    <select id="queryPersonByName" resultType="person" parameterType="string">
        select *
        from person
        where name = #{name}
    </select>

    <select id="queryAll" resultType="person">
        select *
        from person;
    </select>

    <insert id="addPerson" parameterType="person">
        insert into person(name, age)
        values (#{name}, #{age})
    </insert>

    <update id="updatePersonById" parameterType="person">
        update person
        set name = #{name},
            age  = #{age}
        where id = #{id}
    </update>

    <insert id="deletePersonById" parameterType="int">
        delete
        FROM person
        where id = #{id}
    </insert>
</mapper>