<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：该映射文件唯一标识-->
<mapper namespace="edu.ustc.SpringStart.person.mapper.PersonMapper">
    <select id="queryPersonById" resultType="edu.ustc.SpringStart.person.POJO.Person" parameterType="int">
        select *
        from person
        where id = #{id}
    </select>

    <select id="queryPersonByName" resultType="edu.ustc.SpringStart.person.POJO.Person" parameterType="String">
        select *
        from person
        where name = #{name}
    </select>

    <select id="queryAll" resultType="edu.ustc.SpringStart.person.POJO.Person">
        select *
        from person;
    </select>

    <insert id="addPerson" parameterType="edu.ustc.SpringStart.person.POJO.Person">
        insert into person(name, age)
        values (#{name}, #{age})
    </insert>

    <update id="updatePersonById" parameterType="edu.ustc.SpringStart.person.POJO.Person">
        update person
        set name = #{name},
            age  = #{age}
        where id = #{id}
    </update>

    <insert id="deletePersonById" parameterType="int">
        delete
        FROM person
        where id = #{id}
    </insert>
</mapper>